rsync-server-include.list
config.js
.cov
coverage
node_modules
.naeindex
coverage.html
.monitor

*.min.*.js
*.min.*.css
assets.json

# Ignore Mac OS desktop services store
.DS_Store

# Ignore Windows desktop setting file
desktop.ini

*.log
logs/*.log*

.idea
public/upload/*
!public/upload/README

*.sublime-project
*.sublime-workspace
*.swp
*.swo
nohup.out
*~

# redis dump data
dump.rdb

# ignore ionic app
public/ionic/platforms
public/ionic/plugins
public/ionic/www
public/ionic/node_modules
public/ionic/.idea
public/ionic/.tmp
public/ionic/.temp
public/ionic/.sass-cache
public/ionic/app/scripts/config.js
public/ionic/app/bower_components
public/ionic/app/scripts/configuration.js
public/ionic/config/development.json
public/ionic/config/production.json
