/* line 3, ../../../app/styles/modules/post.scss */
.wf-post-form * {
  color: #666;
}
/* line 12, ../../../app/styles/modules/post.scss */
.wf-post-form .tag-list {
  white-space: normal;
}
/* line 14, ../../../app/styles/modules/post.scss */
.wf-post-form .tag-list li {
  display: inline-block;
  text-align: center;
  margin: 4px 0px;
  line-height: 16px;
  font-size: 14px;
  display: inline-block;
  border-right: 1px solid #56c1b5;
}
/* line 22, ../../../app/styles/modules/post.scss */
.wf-post-form .tag-list li a {
  color: #666;
  text-decoration: none;
  display: block;
  padding: 2px 10px;
}
/* line 29, ../../../app/styles/modules/post.scss */
.wf-post-form .tag-list li.active {
  background: #56c1b5;
}
/* line 31, ../../../app/styles/modules/post.scss */
.wf-post-form .tag-list li.active a {
  color: #fff;
}
/* line 36, ../../../app/styles/modules/post.scss */
.wf-post-form .tag-list li:last-child {
  border-right: none;
}
/* line 41, ../../../app/styles/modules/post.scss */
.wf-post-form .quality-list li {
  width: 20%;
  display: inline-block;
  text-align: center;
}
/* line 45, ../../../app/styles/modules/post.scss */
.wf-post-form .quality-list li a {
  font-size: 14px;
  color: #666;
  text-decoration: none;
  display: inline-block;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  line-height: 48px;
  background: #ddd;
  box-sizing: border-box;
}
/* line 57, ../../../app/styles/modules/post.scss */
.wf-post-form .quality-list li.active a {
  background: #56c1b5;
  color: #fff;
}

/* line 64, ../../../app/styles/modules/post.scss */
.row .item-input {
  padding: 1px 0 0px 8px;
}
